

<section class="servico_container">


  <h2 id="Servico" class="titulo_servico">Serviços</h2>


  <div class="servico">
    <ul class="lista_servico">

      <li class="lista lista_primeiro">Cabelo +  Barba </li>
      <li class="lista preco_servico">R$ 100</li>
      <hr>


      <li class="lista lista_primeiro">Barba +  Bigode </li>
      <li class="lista preco_servico">R$ 50</li>
      <hr>

      <li class="lista lista_primeiro">Cabelo + Bigode </li>
      <li class="lista preco_servico">R$ 60</li>
      <hr>

      <li class="lista lista_primeiro">Somente Cabelo </li>
      <li class="lista preco_servico">R$ 40</li>
      <hr>



    </ul>
  </div>

</section>

