@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.local_container {
  margin: 10em 0 0;
  text-align: center;
  background: #24262b;
}

.local_titulo {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1em;
  text-decoration: underline;
}

.maps {
  margin: 0 0;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
}
