

<div  class="containe">
  <h2 id="Contato" class="titulo_contato">Contato</h2>
  <div class="content">
    <div class="left-side">
      <div  class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Endereço</div>
        <div class="text-one">Nome da rua, numero123</div>
        <div class="text-two">Bairro Cidade</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Telefone</div>
        <div class="text-one">+00 00 1234 5678</div>
        <div class="text-two">+00 00 1234 5678</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">johnpires@gmail.com</div>
        <div class="text-two">johnpireswebdev@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text">Envie sua mensage</div>
      <p>
        Se você tiver algum trabalho ou qualquer tipo de dúvida relacionado ao meu tutorial, você pode me enviar mensagem aqui. É um prazer ajudá-lo.
      </p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Digite seu nome" />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Digite seu email" />
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Digite sua mensagem"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</div>
