<main>

  <section class="container principal">
    <img class="principal_imagem" src="../../../assets/sobre.webp">
    <div class="container_principal">
      <h2 id="Quem-somos" class="descricao_titulo">Quem Somos</h2>
      <p class="texto" >Nada de pressão fashion e do clichê, apenas descontração, barba e cabelo à moda antiga.</p>
      <p class="texto">Inaugurada em 2022, a La Barbearia tem uma pegada clássica.</p>
      <p class="texto">Em 2022 fomos premiados pelo site “os 05 melhores” como a melhor barbearia da cidade de Rio Branco.</p>
      <p class="texto">Nossa temática é inspirada nas barbearias tradicionais americanas dos anos 1940.</p>
      <p class="texto">Barbeiros com anos de experiência, sem fila de espera, sem stress e com amplo estacionamento grátis no local.</p>
      <p class="texto">Também temos um estúdio de tatuagem e piercing dentro do nosso espaço. E ainda um bar com duas torneiras de chopp e nossa própria linha de cervejas artesanais inspiradas nos filmes do Quentin Tarantino.</p>
      <p class="texto">O melhor é que é tudo junto em um ambiente único e descontraído.</p>
      <p class="texto">O projeto é assinado pela Mandril Arquitetura e uma parede de 13 metros foi preenchida com o trabalho das artistas plásticas Juliana M. Nersessian e Carolina Lopes Barbosa, da Lanó, que desenvolve arte em parede num estilo de desenho único.</p>
      <p class="texto">Na parede da Tarantino estão presentes personagens de seis filmes diferentes do diretor de cinema que inspirou o projeto.</p>
    </div>
  </section>

  <section class="container">
      <div class="container_secundario">
        <h2 class="descricao_titulo">La - Barbearia</h2>
        <p class="texto">Na La Barbearia oferecemos mais que barba, cabelo e bigode. Aqui você encontra e faz amigos, assiste futebol, tem cerveja gelada, games, sinuca e muito mais. Venha fazer parte da “Nossa Família” e entenda porquê somos O LUGAR PARA GRANDES HOMENS.</p>
      </div>
      <img class="secundario_imagem" src="../../../assets/equipamentos.png">
  </section>
</main>
