<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Companhia</h4>
        <ul>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Nosso Serviço</a></li>
          <li><a href="#">Política De Privacidade</a></li>
          <li><a href="#">Programa De Afiliados</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Obter Ajuda</h4>
        <ul>
          <li><a href="#">Perguntas Frequentes</a></li>

          <li><a href="#">Opções de pagamento</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contato Online</h4>
        <ul>
          <li><a href="#">Whatsapp</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Siga-Nos</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
