<header>
  <nav>
      <p>La - Barbearia</p>
      <ul>
          <li><a href="app.component.html">Home</a></li>
          <li><a href="#Servico">Serviços</a></li>
          <li><a href="#Contato">Contato</a></li>
          <li><a href="#Rota">Rota</a></li>
          <li><a href="#">Reserva</a></li>

      </ul>
  </nav>
  <div class="header-container">
      <h1>La - Barbearia</h1>
      <p>Conheça a La - Barbearia, Veja as belezas desse lugar! Deixe nós fazer voçê ficar mais bonito e estiloso, junte-se a nós nessa experiência</p>
      <a class="button_header" href="#Quem-somos">Saiba mais</a>
  </div>
</header>
